.animate-bounce-slow {
    animation: bounce-slow 3s infinite;
}

@keyframes bounce-slow {

    0%,
    100% {
        transform: translateY(-25%);
        opacity: 10%;
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(0);
        opacity: 100%;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.animate-sphere {
    animation: sphere var(--animation-time) ease alternate infinite;
}

@keyframes sphere {

    0%,
    100% {
        transform: translateX(0);
        opacity: 50%;
        animation-timing-function: linear;
    }

    50% {
        transform: translateX(50%);
        opacity: 20%;
        animation-timing-function: linear;
    }

}

.animate-sphere-1 {
    animation: sphere-1 var(--animation-time-1) ease alternate infinite;
}

@keyframes sphere-1 {

    0%,
    100% {
        transform: translateX(-10%);
        opacity: 50%;
        animation-timing-function: linear;
    }

    50% {
        transform: translateX(10%);
        opacity: 10%;
        animation-timing-function: linear;
    }

}

.animate-sphere-2 {
    animation: sphere-2 var(--animation-time-2) ease alternate infinite;
}

@keyframes sphere-2 {

    0%,
    100% {
        transform: translateX(-10%);
        opacity: 80%;
        animation-timing-function: linear;
    }

    50% {
        transform: translateX(10%);
        opacity: 50%;
        animation-timing-function: linear;
    }

}
